<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765093633900-hgltks4ugsdd9mj6fas2gmmip7cir086.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765093633900-hgltks4ugsdd9mj6fas2gmmip7cir086</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>765093633900-uuusbof4jlndn6gf2gjeqt1uo4epujms.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm2DPo5IQN8PTOvmIuP25Hf1FM4Gzd-3U</string>
	<key>GCM_SENDER_ID</key>
	<string>765093633900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.komediantndp.chat.frontend</string>
	<key>PROJECT_ID</key>
	<string>chat-7650a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7650a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765093633900:ios:6d6a61bf7777aaf752dd49</string>
</dict>
</plist>